@charset "utf-8";
@import url(./fonts.css);

/* #Basic
================================================== */
* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}

html,body{margin:0;padding:0;height:100%}
html,body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;padding:0;border:0;vertical-align:baseline}
body {font-size:15px;font-family: "gowun batamg","gowun dodum", "Cormorant Garamond", "sans-serif", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
  -webkit-text-size-adjust:100%;line-height:16px;letter-spacing:-.06rem}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;margin:0;padding:0}  /* html5 */
table{border-spacing:0;border-collapse:collapse;}

/* #Links
================================================== */
a {text-decoration:none;outline:0}
a:focus,a:visited{outline:0;text-decoration:none}
a:hover{text-decoration:none}
p a, p a:visited{line-height:inherit;}
em{font-style:normal}

/* #Lists
================================================== */
ol, ul, dl {list-style:none}
ul{list-style:none outside}
ol{list-style: decimal}
ul.square {list-style: square outside}
ul.circle {list-style: circle outside}

/* #Images
================================================== */
img, a img {
  border: none !important;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-width: 100%;
  height: auto;
  image-rendering: optimizeQuality;
}

/* #Other elements
================================================== */
iframe, object, embed{max-width:100%}

/* #Misc
================================================== */
.hidden {position: absolute;top: 0;visibility: hidden}

.flex{display:flex;}

.txtr{text-align:right !Important}
.txtl{text-align:left !Important}
.txtc{text-align:center !Important}

/* #padding margin custom
================================================== */
.w100{width:100%}
.w20{width:20%}
.w30{width:30%}
.w70{width:70%}
.w80{width:80%}

.w_80{width:80px}
.w_100{width:100px}
.w_130{width:130px}
.w_150{width:150px}
.w_200{width:150px}

/* margin */
.mr-1{margin-right:1px}
.mr-4{margin-right:4px}
.ml-1{margin-left:1px}
.ml-4{margin-left:4px}
.mt_1{margin-top:-1px}
.mb-4{margin-bottom:4px}
.mb-10{margin-bottom:10px}

/* #animation
================================================== */
.animate{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
